<% @recipes.each do |recipe| %>
  <%= link_to recipe_path(recipe['slug']), class: 'tile' do%>
    <span class="title"><%= recipe['name'] %></span>
    <% image = recipe['images'].first if recipe['images']%>
    <% if image %>
      <%= image_tag("http://foodblog.ch" + image['url']) %>
    <% end %>
  <% end %>
<% end %>
