<a class="tile"><i class="fa fa-3x fa-lightbulb-o"></i>Wohnzimmer 1</a>
<div class="tile">Wohnzimmer 2</div>
<div class="tile">Wohnzimmer 3</div>
<div class="tile">Wohnzimmer 4</div>
<div class="tile">Gang Wohnzimmer</div>
<div class="tile">Gang Schlafzimmer</div>
<div class="tile">Gang Eingang</div>
<div class="tile">Gang Buero</div>
