<%= link_to '', class: 'tile' do%>
  <span class="title" >Kino</span>
  <i class="fa fa-2x fa-film"></i>
<% end %>

<%= link_to '', class: 'tile' do%>
  <span class="title">Gutenacht</span>
  <i class="fa fa-2x fa-moon-o"></i>
<% end %>
