/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

@import url('http://fonts.googleapis.com/css?family=Montserrat:400,700');

html, body {
  background-color: #666;
  background-color: #1c1d26;
  color: rgba(255, 255, 255, 0.75);
  font-family: "Montserrat", Helvetica, sans-serif;
  font-size: 12pt;
  font-weight: 100;
  line-height: 1.75em;
}

a {
  text-decoration: none;
}

.raspberry.screen {
  position: relative;
  background-color: #1c1d26;
  width: 800px;
  height: 480px;
  border: 1px white solid;
  margin: auto;
  margin-top: 100px;
  overflow-y: auto;
}

.topbar{
  position: absolute;
  top: 0;
  width: 100%;
  height: 30px;
  background-color: #21232D;
  border-bottom: solid 1px rgba(255, 255, 255, 0.3);
  clear: both;
  font-size: 1.5em;
}

.clock{
  width: 100px;
  text-align: center;
  font-weight: bold;
  margin: auto;
  font-family: consolas;
  padding-top: 1px;
}

.date{
  margin-left: 10px;
  margin-top: 6px;
  float: left;
  line-height: 1em;
  font-size: 0.75em;
}

.refresh{
  margin-right: 10px;
  margin-top: 6px;
  float: right;
  line-height: 1em;
  cursor: pointer;
  font-size: 0.8em;
}


.container {
  display: flex;
  min-height: 100%;
}

.sidebar {
  position: absolute;
  max-width: 80px;
}

.content {
  flex: 1;
  padding: 10px;
  margin-top: 25px;
  margin-left: 60px;
}

ul.menu {
  position: absolute;
  top: 31px;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 1em;
  font-weight: 300;
  border-bottom: solid 5px #aaa;
  border-bottom-right-radius: 5px;
}

ul.menu li a {
  color: rgba(249, 249, 249, .9);
  text-decoration: none;
  transition: color .5s, background .5s, height .5s;
  padding: 5px;
  padding-top: 10px;
  display: block;
}

ul.menu:hover a {
  color: rgba(249, 249, 249, .5);
}

ul.menu:hover a:hover {
  color: rgba(249, 249, 249, 0.99);
}

ul.menu li:nth-child(6n+1) {
  background: rgb(208, 101, 3);
  border-left: 8px solid rgb(174, 78, 1);
}

ul.menu li:nth-child(6n+2) {
  background: rgb(233, 147, 26);
  border-left: 8px solid rgb(191, 117, 20);
}

ul.menu li:nth-child(6n+3) {
  background: rgb(22, 145, 190);
  border-left: 8px solid rgb(12, 110, 149);
}

ul.menu li:nth-child(6n+4) {
  background: rgb(22, 107, 162);
  border-left: 8px solid rgb(10, 75, 117);
}

ul.menu li:nth-child(6n+5) {
  background: rgb(27, 54, 71);
  border-left: 8px solid rgb(16, 34, 44);
}

ul.menu li:nth-child(6n+6) {
  background: rgb(21, 40, 54);
  border-left: 8px solid rgb(9, 18, 25);
}

.tile {
  float: left;
  width: 150px;
  height: 140px;
  padding: 8px;
  margin: 5px;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
  border: solid 1px rgba(255, 255, 255, 0.3);
  background-color: #21232D;
}

.tile i {
  text-decoration: none;
  border: none;
  position: relative;
  background: #272833;
  border-radius: 100%;
  display: inline-block;
  text-align: center;
  line-height: 2em;
  width: 2em;
  margin: 0.4em;
}
