/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

@import url('http://fonts.googleapis.com/css?family=Montserrat:400,700');

html, body {
  background-color: #666;
  background-color: #1c1d26;
  color: rgba(255, 255, 255, 0.75);
  font-family: "Montserrat", Helvetica, sans-serif;
  font-size: 11pt;
  font-weight: 100;
  line-height: 1.75em;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 820px) {
  .raspberry.screen {
    position: relative;
    background-color: #1c1d26;
    width: 800px;
    height: 480px;
    border: 1px white solid;
    margin: auto;
    margin-top: 100px;
    overflow-y: auto;
  }
}

.topbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: #21232D;
  border-bottom: solid 1px rgba(255, 255, 255, 0.3);
  clear: both;
  font-size: 1.5em;
  z-index: 100;
}


@media screen and (min-width: 820px) {
  .topbar{
    position: absolute;
  }
}	
.clock{
  width: 100px;
  text-align: center;
  font-weight: bold;
  margin: auto;
  font-family: consolas;
  padding-top: 1px;
}

.date{
  margin-left: 10px;
  margin-top: 6px;
  float: left;
  line-height: 1em;
  font-size: 0.75em;
}

.refresh{
  margin-right: 10px;
  margin-top: 6px;
  float: right;
  line-height: 1em;
  cursor: pointer;
  font-size: 0.8em;
}


.container {
  display: flex;
  min-height: 100%;
}

.sidebar {
  position: absolute;
  max-width: 80px;
}

.content {
  flex: 1;
  padding: 10px;
  margin-top: 25px;
  margin-left: 60px;
}

.thumb {
  width: 320px;
}
