ul.menu {
  position: fixed;
  left: 0;
  top: 31px;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 1em;
  font-weight: 300;
  border-bottom: solid 5px #aaa;
  border-bottom-right-radius: 5px;
}

@media screen and (min-width: 820px) {
  ul.menu{
    position: absolute;
  }
}	

ul.menu li a {
  color: rgba(249, 249, 249, .9);
  text-decoration: none;
  transition: color .5s, background .5s, height .5s;
  padding: 5px;
  padding-top: 10px;
  display: block;
}

ul.menu:hover a {
  color: rgba(249, 249, 249, .5);
}

ul.menu:hover a:hover {
  color: rgba(249, 249, 249, 0.99);
}

ul.menu li:nth-child(6n+1) {
  background: rgb(208, 101, 3);
  border-left: 8px solid rgb(174, 78, 1);
}

ul.menu li:nth-child(6n+2) {
  background: rgb(233, 147, 26);
  border-left: 8px solid rgb(191, 117, 20);
}

ul.menu li:nth-child(6n+3) {
  background: rgb(22, 145, 190);
  border-left: 8px solid rgb(12, 110, 149);
}

ul.menu li:nth-child(6n+4) {
  background: rgb(22, 107, 162);
  border-left: 8px solid rgb(10, 75, 117);
}

ul.menu li:nth-child(6n+5) {
  background: rgb(27, 54, 71);
  border-left: 8px solid rgb(16, 34, 44);
}

ul.menu li:nth-child(6n+6) {
  background: rgb(21, 40, 54);
  border-left: 8px solid rgb(9, 18, 25);
}
