<ul class="menu">
  <li>
    <a href="<%= root_path %>"><i class="fa fa-fw fa-2x fa-dashboard"></i></a>
  </li>
  <li><a href="<%= lights_path %>"><i class="fa fa-fw fa-2x fa-lightbulb-o"></i></a></li>
  <li><a href="http://foodblog.ch"><i class="fa fa-fw fa-2x fa-cutlery"></i></a></li>
  <li><a href="http://sbb.ch"><i class="fa fa-fw fa-2x fa-bus"></i></a></li>
  <li><a href="http://sbb.ch"><i class="fa fa-fw fa-2x fa-image"></i></a></li>
</ul>
